[2016-04-14 05:52] wenxin3262 opened #6 "Syntax not compatible with ObjectMapper"
I haven't tried your code, but looks like that `<-` left arrow symbol is not going to compile with ObjectMapper which is a popular Swift json object mapping library.

[2016-04-14 06:28] nakiostudio commented on #6
Hi @wenxin3262 :wave:. Thanks to Swift type inference there isn't incompatibility at all :)

[2016-04-14 06:28] #6 closed

[2016-04-16 16:39] DevAndArtist opened #8 "Missing support: UILayoutGuide"
Interesting work. One thing I missed here is support for [`UILayoutGuide's` ](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UILayoutGuide_Class_Reference/index.html#//apple_ref/occ/cl/UILayoutGuide)

 I also like to build AutoLayout frameworks for my project. Maybe I'll use this for some inspirations. 😄

[2016-04-18 08:22] nakiostudio commented on #8
Hi @DevAndArtist 👋 Indeed, this feature is in progress therefore it should get merged soon. Glad you've found some inspirations here :)

[2016-04-19 10:21] SebastianBO opened #9 "Carthage Support."
Would be lovely, thanks for EasyPeasy!
Great name & structure.

[2016-04-19 10:24] nakiostudio commented on #9
Hi @SebastianBO 👋

Thanks for the request, my colleague @khose will take care of this :)

[2016-04-19 23:28] khose commented on #9
Hi @SebastianBO . EasyPeasy is Carthage compatible, although the README wasn't showing that information. Have you tried the normal steps to include it as a dependency in your project? I've tried that and it just works.

Please, let me know if you are getting any specific error so I can dig into it.

Thanks!

[2016-04-20 06:57] nakiostudio commented on #9
Just merged the PR with the README update made by @khose 🎉

[2016-04-20 06:57] #9 closed

[2016-04-24 17:51] nakiostudio commented on #8
@DevAndArtist done :)

https://github.com/nakiostudio/EasyPeasy/pull/14

[2016-04-24 17:51] #8 closed

[2016-05-03 04:05] otymartin opened #15 "Cocoapods: Unable to find specifications for this `EasyPeasy`"
i can't `pod install` this for god knows what reason.

Every other pod installs but this.

[2016-05-03 06:34] khose commented on #15
Hi @otymartin . Could you please paste your `Podfile `here or send it to @nakiostudio .
EasyPeasy is correctly published in Cocoapods specs repo, so looks like a configuration problem.

Thanks!

[2016-05-03 08:27] nakiostudio commented on #15
Hi @otymartin 👋, as @khose mentioned EasyPeasy is correctly published, maybe your problem is related with a known issue updating the CocoaPods specs [more info here](https://github.com/CocoaPods/CocoaPods/issues/4989) or the iOS platform set in your Podfile is lower than iOS 8.0.

[2016-05-03 13:01] otymartin commented on #15
@khose @nakiostudio Thanks for the response. here is my podfile
[code]

[2016-05-03 13:27] nakiostudio commented on #15
Thanks @otymartin, everything looks fine. Could you try clearing the CocoaPods cache and running `pod install` again?

[code]

[2016-05-03 14:53] otymartin commented on #15
@nakiostudio what is `{HOME}`? Im no too familiar with directories for cocoapods

[2016-05-03 14:57] nakiostudio commented on #15
Hi @otymartin. `{HOME}` is the path to your home directory. You can easily get it with the command:
[code]

[2016-05-03 15:01] otymartin commented on #15
@nakiostudio I've tried so afew times and no luck.
[code]

[2016-05-03 15:17] nakiostudio commented on #15
Try `rm -rf /Users/otymartin/Library/Caches/CocoaPods` without the double quotes 👍

[2016-05-03 15:49] otymartin commented on #15
@nakiostudio issue persists. Is it supposed to do something when I run that command? Because once i press enter it nothing happens. im just taken to the next command line with the blinking cursor

[2016-05-03 15:54] nakiostudio commented on #15
After doing that you have to run `pod install` again. That command simply removes the CocoaPods caches.

[2016-05-03 16:33] otymartin commented on #15
No luck. the issue persists.

[2016-05-03 16:35] nakiostudio commented on #15
Sorry to hear that 😞 , in that case I recommend you to open an issue in the CocoaPods repo https://github.com/CocoaPods/CocoaPods

[2016-05-03 16:36] #15 closed

[2016-05-03 17:06] otymartin commented on #15
@nakiostudio apparently im the only one with the problem ;(  I'll keep digging and update when I find a solution

Thanks for your help

[2016-05-11 14:18] avalanched opened #17 "Can you combine multiple modifiers?"
my view has a need for a minimum width of 37, but always multiplied by 1.5
[code]

it does not generate an error, but it doesn't work either..

[2016-05-11 15:22] nakiostudio commented on #17
Hi @avalanched 👋
I'm afraid you are not allowed to do that for now. In that piece of code `Width(*1.5)` will override `Width(>=37)`. Instead you can set different priorities for those Attributes (if that's the intended implementation).

Thanks for the issue 👍

[2016-05-11 15:25] avalanched commented on #17
that also means you cannot constraint the following:

[2016-05-11 15:27] nakiostudio commented on #17
You can constrain it like this:

[code]

[2016-05-11 15:28] avalanched commented on #17
👍  thanks

[2016-05-11 15:28] #17 closed

[2016-05-18 07:51] r-a-o opened #18 "Using Size Classes and Orientation in EasyPeasy"
How do I use Size Classes while writing constraints for my elements for different device screen resolutions and orientations?
Ex:
I want to position elements in a certain way when device is in Portrait mode and position them very differently when it enters Landscape mode.

Do I have to use `traitCollection` to do this?

[2016-05-18 08:28] nakiostudio commented on #18
Hi @r-a-o 👋

You can do it using [Conditions](https://github.com/nakiostudio/EasyPeasy#conditions). The example below shows you how to set a different width constraint depending on orientation:

[code]

Then, when the orientation changes, you just need to call `view.easy_reload()` to reload the constraints. You can do it using `UITraitCollections` too.

[2016-05-18 09:33] r-a-o commented on #18
Hi 👋

Thanks! Got this to work after calling `view.easy_reload()` from UIDeviceOrientationDidChangeNotification observer.

Now, there is another issue. The Portrait condition is never getting applied!
ie.,
`Width(120).when { UIDeviceOrientationIsPortrait(UIDevice.currentDevice().orientation) }`

But when the device orientation changes to Landscape, the landscape condition is getting applied as exp

[2016-05-18 09:53] nakiostudio commented on #18
With size classes it would be similar to this:

[code]

Again you can always find the way to simplify and reuse this extending `UIView`, and don't forget to call `view.easy_reload()` when the trait collection changes :)

[2016-05-18 10:30] r-a-o commented on #18
Thanks.
I was expecting the views which have conditional constraints which involve either orientation change or size classes to call easy_reload() smartly on their own. ;)

I think constraints which involve Size classes and device Orientation deserve a method of their own just like Width, Top etc., rather than letting user do it in the Condition block. But that's just me. :)

[2016-05-18 10:31] nakiostudio commented on #18
It'd be handy for sure. I'll consider implementing it 👍

[2016-05-18 10:33] #18 closed

[2016-05-30 10:57] HumidBrains commented on #18
Hi @nakiostudio
I see this issue is closed, but can you please help me out with a complete example of how you use size classes? I've read the above, but I just can't seem to get the hang of it.

Thanks!

[2016-06-01 20:39] nakiostudio commented on #18
Hi @HumidBrains :wave: Sure thing, for some reason I missed your message, sorry for the late answer.

The example below shows a controller with a label positioned 20px to the top of the screen, with height 60px and 0px margins to left and right of the view containing the label (in this case the controller's view). This applies only for a **compact** horizontal size class whereas for a **regular**

[2016-06-11 19:16] HumidBrains commented on #18
Hi @nakiostudio, I'm so sorry for slow response, thank you for your detailed answer.

I get size classes to work, but I'm still not friends with easy_reload(). For example, in a table view where you may have the same view (say a speech bubble in a chat app) alternating between left and right side of the screen depending on if messages are incoming or outgoing. How do you update the constraints for

[2016-06-14 19:57] phatmann opened #20 "Stacking views"
Would be great to have a way to stack an array of views horizontally or vertically with appropriate padding. I would be happy to make a PR for this, but I would like to know what syntax would be appropriate. I already have vertical stacking code working within my app that uses EasyPeasy.

Other auto-layout libraries such as FLKAutolayout provide similar functionality.

[2016-06-14 20:17] nakiostudio commented on #20
Hi @phatmann 👋

Thanks for your comment. It'd be cool for sure! This feature along with others like direct size class support are in my mind but I'm still trying to figure out how to implement this without over-complicating what is purely the layer on top of Auto Layout. I was planning to have a set of subpodspecs adding this functionality to the library keeping what we already have intact. It wou

[2016-06-19 20:10] akaralar opened #21 "How to pin to view controller top / bottom layout guides?"
I'm trying to pin a view in a view controller to the bottom of the navigation bar with
`view <- Top().to(self.topLayoutGuide, .Bottom)`

but I get errors. I tried a few other ways to do this but I couldn't make the errors go away. Is there a way to pin to top and bottom layout guides of `UIViewController`?

I tried
`view <- Top().to(self.topLayoutGuide)`
`view <- Top().to(self.topLayoutGuide.botto

[2016-06-21 07:23] kamil-tomaszewski commented on #21
I was just about to write the same thing. `topLayoutGuide` is a `UILayoutSupport` class, so this is a bit confusing. EasyPeasy is expecting `UILayoutGuide` which makes sense for custom layout guides.

[2016-06-21 08:11] nakiostudio commented on #21
Hi @akaralar and @kamil-tomaszewski 👋

As @kamil-tomaszewski said EasyPeasy only works with custom guides but adding support to `UILayoutSupport` is quite trivial, I will release a version today implementing it 👍

[2016-06-21 20:11] nakiostudio commented on #21
I've just merged #22 that creates the version 0.2.5 including this change. The [CHANGELOG](https://github.com/nakiostudio/EasyPeasy/blob/master/CHANGELOG.md) contains a quick example of use.

@akaralar please close the issue if you are happy with the implementation.

[2016-06-22 07:31] kamil-tomaszewski commented on #21
<3

[2016-06-22 07:31] kamil-tomaszewski commented on #21
❤️

[2016-06-22 10:58] akaralar commented on #21
I'll try it out in a few hours and update the issue. Thanks for the quick reply & implementation!

[2016-06-27 09:38] nakiostudio commented on #21
I can confirm this is working fine, closing the issue :)

[2016-06-27 09:38] #21 closed

[2016-07-02 21:57] r-a-o opened #24 "Unable to stick label to right"
I am able to stick my first label to left of my scrollView, but unable to stick second label to the right. Am I doing anything wrong here?

[code]

[2016-07-02 22:04] nakiostudio commented on #24
Hi @r-a-o :wave:

I think your problem is not related with EasyPeasy. Have you set the 'contentSize' of your scrollview?

[2016-07-02 22:12] r-a-o commented on #24
Tried by setting contentSize as well, didnt work.
It shows all other elements which are sticking to left of the scrollView (even those outside scrollView) but the only element(second label in above code) that I am trying to make it stick to right is not appearing at all.

[2016-07-02 22:14] r-a-o commented on #24
If I just replace `Right(10)` with `Left(10)` in second label positioning, it appears to the left as expected.

[2016-07-02 22:19] r-a-o commented on #24
I have simplified the above code, could you give it a try? (with latest version of easypeasy)

[2016-07-02 22:27] nakiostudio commented on #24
I don't have access to a computer right now but I will give it a try as soon as I can. However I think you need a UIView wrapping the content you want to add to the UIScrollView :+1:

[2016-07-02 22:41] r-a-o commented on #24
Thanks.
Tried introducing a UIView as a wrapper, still getting the same result. Everything appears except for the label which is positioned to the right. I'll try removing the scrollView altogether and see.

[2016-07-02 22:44] r-a-o commented on #24
If I remove the scrollView and add elements to my UIView, it works fine.

[2016-07-02 22:53] nakiostudio commented on #24
Applying constraints to views withing a scrollview is always tricky. Check this:

’’’
view.addSubview(scrollview)
scrollview <- Edges(0)

let contentView = UIView()
scrollview.addSubview(contentView)
contentView <- [
   Top(), Left(), Right(), Height(>=0)
]

let labelA = UILabel()
labelA.text = "foo"
contentView.addSubview(labelA)
labelA <- [
    Top(), Left(), Size(>=0)
]

let labelB = UILabel()

[2016-07-02 23:02] r-a-o commented on #24
Same!
`Foo` appears to the left, `Bar` doesn't appear.

[2016-07-02 23:05] nakiostudio commented on #24
And with this?

contentView <- [
Top(), Left(), Width().like(scrollview), Height(>=0)
]

[2016-07-02 23:07] r-a-o commented on #24
Now its coming properly!

[2016-07-02 23:09] nakiostudio commented on #24
Awesome! :D

[2016-07-02 23:09] #24 closed

[2016-07-02 23:12] r-a-o commented on #24
Thanks a lot! 👍
Prior to this I tried with Edges(0) and it didn't work and I gave up! :D
Why didn't Edges(0) work?
And does Right() require Width() to be defined?

[2016-07-05 06:51] Kimberleyrene commented on #24
Stop sending me emaulkd

On July 2, 2016, at 17:54, Carlos Vidal <notifications@github.com> wrote:

Applying constraints to views withing a scrollview is always tricky. Check this:

’’’
view.addSubview(scrollview)
scrollview <- Edges(0)

let contentView = UIView()
scrollview.addSubview(contentView)
contentView <- [
   Top(), Left(), Right(), Height(>=0)
]

let labelA = UILabel()
labelA.text = "foo

[2016-08-01 11:32] lipka opened #28 "GreaterThanOrEqual with multiplier"
First let me start off by saying EasyPeasy is easily my go to auto layout wrapper. It's really awesome! 💪

However one thing I found missing is to facilitate the creation of constraints that would allow for specifying both the relation and the multiplier at the same time.

Example:
[code]

I think this is currently not possible with any of the operators and also the way the `Constant`/`Modifier` a

[2016-08-01 12:19] nakiostudio commented on #28
Hi @lipka 👋

Thanks for those words, I really appreciate it!

Regarding your comment, you are absolutely right. That's something that I decided to sacrifice in the beginning of the project just for simplicity. I will think about it 👍

[2016-08-01 19:33] nakiostudio commented on #28
I'm working on it @lipka 👍

[2016-08-05 14:23] ashfurrow commented on #18
This solution makes sense, we should consider adding it to the examples in the Readme, too. This issue is the only place I could find discussing size classes. I can submit a PR if it would be helpful.

[2016-08-05 14:38] nakiostudio commented on #18
Hi @ashfurrow 👋

If you have the time please feel free to do it :) if not I can add it right after completing #29

For instance, this is how I deal with size classes in a personal project:

[code]

[code]

In addition I was planning the creation of a *subspec* including some helpers easing size classes handling or what @phatmann suggested in #20.

[2016-08-05 15:06] ashfurrow commented on #18
Cool, I'll see what I can do. Not sure if using the keywindow is always a good idea, for example in a split view or in a popover. Would using the self.ciew trait collection work for you?

[2016-08-05 15:19] nakiostudio commented on #18
Yeah, the `.when { HorizontalSizeClass() == .Compact }` solution will only work when the controller bounds match the window ones. For all the other cases, I guess accessing the controller's view is the only way.

Thank you @ashfurrow !

[2016-08-05 15:48] nakiostudio opened #30 "Add UIKit/AppKit vs EasyPeasy comparison to README"
Out of [this](https://twitter.com/steipete/status/760028210478325761) twitter conversation let's follow @steipete recommendation of adding some code snippets comparing EasyPeasy with UIKit and AppKit Auto Layout APIs.

[2016-08-12 08:37] nakiostudio commented on #28
Hi again @lipka 👋

I've released `1.1.0` that includes your feature request. It'd be great to know your thoughts about it!

***

## v.1.1.0

* Now it's possible to combine `multipliers` with `Equal`, `GreaterThatOrEqual`
and `LessThanOrEqual` relations.

[code]

[2016-08-12 08:37] #28 closed

[2016-08-22 02:22] JohnEstropia opened #36 "Is there any way to add width/height constraints to a view without adding it as a subview?"
Adding constant width and height constraints in nib/storyboard adds them directly to the view and not the superview.

I may have just missed it, but is there any way to keep this behavior in EasyPeasy?

[2016-08-22 02:27] JohnEstropia opened #37 "Feature request: adding aspect-ratio constraints"
EasyPeasy currently has `Width()` and `Height()` attributes that let us add constant constraints, but to write aspect-ratio constraints we have to write something like

[code]

Is it feasible to add a special syntax for aspect-ratio constraints? Something like

[code]

[2016-08-22 06:30] nakiostudio commented on #36
Hi @JohnEstropia :wave:

As far as I remember that's what EasyPeasy does, but I may have missed something after the refactor I did for the version 1.0.0

[2016-08-22 06:38] nakiostudio commented on #36
There are several tests, like [this one](https://github.com/nakiostudio/EasyPeasy/blob/master/Example/Tests/UIView%2BEasyTests.swift#L116) that confirm this behaviour. But again, it's 7am here and I may have missed something :sleeping:

[2016-08-22 08:06] JohnEstropia commented on #36
@nakiostudio Thanks for the response. You're right, EasyPeasy already does this and I misunderstood the behavior.

The reason I thought otherwise is because there is currently no way to add the constraints before the view is added to any superview. So I guess my question is, is there any way to add constraints to a view without adding it as a subview? (for self-sizing views for example)

[2016-08-22 08:11] nakiostudio commented on #36
Hi again @JohnEstropia !
The reason why the library doesn't allow that it's because it may lead to unexpected results. For your particular case, I would apply the attributes within the self-sizing view `didMoveToSuperview()` method.

[2016-08-22 08:21] nakiostudio commented on #37
Hi again @JohnEstropia 👋

Thanks for the feature request! You're right, in order to do that right now you would need to create an attribute like `Width().like(view, .Height)`. It makes a lot of sense but we'd need to think about a solution aligned with the base `Attribute` interface. Let me think about it and please don't hesitate to share your thoughts :)

[2016-08-22 09:00] JohnEstropia commented on #36
I changed the issue title so as not to mislead other users.

Anyway I don't think the current implementation is missing anything, but with EasyPeasy is there any unwanted effect that may happen if the width/height constraint is added before a view is added to a superview? If there aren't any, is there an advantage to making them dependent on the superview via `didMoveToSuperview()`?

To clarify, I

[2016-08-22 09:17] JohnEstropia commented on #37
Thanks! I'll try to get used with the other APIs and share ideas that may fit the overall syntax :)

[2016-08-25 08:30] nakiostudio commented on #36
Hi again 👋

For some reason I thought that I replied to your last message, sorry about that 😓

You are right, it's not worthwhile to avoid that for the sake of consistency. I will merge #38 giving support to your request 👍

[2016-08-25 08:32] JohnEstropia commented on #36
Thanks!

[2016-08-25 11:25] nakiostudio commented on #36
It's out! 🎉

[2016-08-25 11:25] #36 closed

[2016-08-31 11:36] r-a-o opened #39 "Ambiguous use of 'when'"
After I updated from '1.0.0' to '1.2.1' I am getting "Ambiguous use of _when_" error for the following usage of `when` block in my code snippet,

[code]

This was working as expected in version '1.0.0'

[2016-08-31 11:38] nakiostudio commented on #39
Hi @r-a-o 👋

That's because the parameters definition of the `Condition` closure is not correct, can you try this?

[code]

[2016-08-31 11:53] r-a-o commented on #39
Thanks! That fixed it.
Now there is no need to pass `self` reference is it?
I will go through the updated docs again.

[2016-08-31 11:53] #39 closed

[2016-09-13 22:46] phatmann opened #40 "Swift 3 compatibility"
Xcode 8 is out! Time to merge swift-3 branch.

[2016-09-14 08:20] nakiostudio commented on #40
Hi @phatmann 👋

I'm working on it! I will make a Swift 2.3 release and right after that one a Swift 3 version 💃

[2016-09-14 12:26] nakiostudio commented on #40
Hi again 👋

EasyPeasy 1.3 is out with Swift 2.3 support, now let's release 1.4 supporting Swift 3 :)

[2016-09-20 10:38] dlosuna commented on #40
Looking forward to 1.4 version 👍

[2016-09-20 16:56] nakiostudio commented on #40
Done 🎉 Sorry for the delay!

[2016-09-20 16:56] #40 closed

[2016-09-25 12:19] frytaz opened #44 "operator '<-' is unused warning"
Keep seeing this warning in Swift 3:
Result of operator '<-' is unused

[2016-10-09 16:18] nakiostudio commented on #44
Hi @frytaz 👋

Sorry for the delay in my response. I cannot reproduce the issue and I'm quite surprised as I'm using the `@discardableResult` decorator. Could you please paste a code snippet here?

Thanks!

[2016-10-13 13:38] frytaz commented on #44
Sorry it was my Xcode tried to convert EasyPeasy to new Swift syntax and messed it up

[2016-10-13 13:38] #44 closed

[2016-10-13 13:39] nakiostudio commented on #44
Thanks for the update! 👍

[2016-10-20 09:46] r-a-o commented on #20
Hello!

I was thinking about how to implement the layout/view stacking and came across AsyncDisplayKit today. [Here](http://asyncdisplaykit.org/docs/automatic-layout-containers.html) is how they are handling it, which I think is a nice approach.

![screen shot 2016-10-20 at 2 31 21 pm](https://cloud.githubusercontent.com/assets/2171268/19553895/cc7114d8-96d3-11e6-9c1d-27822b5b0e8f.png)

Above scre

[2016-10-20 17:20] phatmann commented on #20
I like the general approach, but the pseudo code does not seem to fit into the EasyPeasy model/syntax very nicely. Any ideas there?

[2016-11-07 20:35] ServusJon opened #45 "Animating constraints not working"
When I try to animate constraints, the textField just jumps:

[code]

after a delay:

[code]

Any ideas?

[2016-11-08 07:43] nakiostudio commented on #45
Hi @ServusJon 👋

Because position attributes are owned by the `superview` of the `UIView` you apply the attributes to you need to call `layoutIfNeeded()` of the `textField` superview, as follows:

[code]

I hope it helps :)

[2016-11-10 02:21] WildDylan commented on #37
Same question, How to make like this:

[code]

How can i do this....

[2016-11-12 18:59] #45 closed

[2016-11-12 20:16] ServusJon commented on #45
Thank you! Solved it!

[2016-12-21 11:04] ServusJon opened #47 "Content hugging and content compression resistance priorities"
Hey, how can I use Content hugging and content compression resistance priorities with Easy Peasy?

[2016-12-21 11:36] nakiostudio commented on #47
Hi @ServusJon 👋

You can use content hugging and compression resistance priorities as usual, the only thing to keep in mind is that you need to play with the constraint priorities and to do so you would need to use the `.with` method when creating your attributes, more info [here](https://github.com/nakiostudio/EasyPeasy#priorities).

However, I use the following helper methods at work:

[code]

I

[2016-12-21 12:03] ServusJon commented on #47
Yes indeed. thank you.

What would you use to achieve a layout that works in different orientations?

`    let image = UIView()

    override func viewDidLoad() {
        super.viewDidLoad()

        image.backgroundColor = .green
//        image.frame = CGRect(x: 10, y: 10, width: 200, height: 200)
        view.addSubview(image)

        image <- [
            Top(0).when { $0.isHorizontalRegular

[2016-12-21 12:08] nakiostudio commented on #47
It's breaking because there is no `Height` attribute when the size class goes back to `HorizontalRegular`.

I think this should fix your code:

[code]

[2016-12-21 12:12] ServusJon commented on #47
Now the view is only visible in landscape. :-(  Is there a best practice to organize or setup constraints for a layout like this?

[2016-12-21 12:19] nakiostudio commented on #47
You can structure it in many different ways, for example:

[code]

or

[code]

But just to be clear, which frame would you like to have for landscape and portrait? I'm not sure what do you want to achieve.

[2016-12-21 12:43] ServusJon commented on #47
This is just an example. In this example I want to change the height and top value based on orientation. In your examples the green block is still not visible in portrait.

[2016-12-21 12:46] nakiostudio commented on #47
Ok, got it. Try with this :)

[code]

[2016-12-21 12:54] ServusJon commented on #47
That works!

And what if I want to have a view a different width on an iPad depending on the Orientation? Size classes don't work here?

[2016-12-21 12:59] nakiostudio commented on #47
Cool!

In that case you would need to figure it out in a different way as the size class will always be `Compact`. Remember that you can evaluate any condition within a `when` closure, like this:

[code]

[2016-12-21 13:08] ServusJon commented on #47
not working :-(
<img width="848" alt="bildschirmfoto 2016-12-21 um 14 07 32" src="https://cloud.githubusercontent.com/assets/783416/21390368/df10cd8e-c786-11e6-9be5-f8c64a8fdd05.png">

[2016-12-21 14:22] nakiostudio commented on #47
Hey @ServusJon 👋

I know I know, it was just an example showing how to check properties using `Conditions`. The property `isLandscape` is not part of `UIKit`, therefore you would need to implement it.

[2016-12-21 14:59] ServusJon commented on #47
Thank you @nakiostudio that helped a lot. Sorry for all this noob questions…

[2016-12-21 14:59] #47 closed

[2016-12-21 15:01] nakiostudio commented on #47
I don't think those are noob questions 🙂. Feel free to ask as much as you want or direct message me on [twitter](https://twitter.com/carlostify).

[2017-01-05 09:25] ntanyeri opened #48 "Carthage tvOS Support"
Hi,
I'm trying to add my tvOS project using by carthage but ı didn't make it. You can see error logs in below. Thanks for your supports.

`carthage update EasyPeasy --platform tvOS`

[code]

[2017-01-06 12:29] Andrej123 commented on #15
@otymartin no, you're not the only one with this issue. I've managed to solve it by running
`pod repo update` and then `pod install`

[2017-01-07 17:55] nakiostudio commented on #15
As @Andrej123 pointed out, this is a CocoaPods issue that should be fixed by running `pod repo update` 👍

[2017-01-07 17:59] nakiostudio commented on #48
Hi @ntanyeri 👋

Thanks for reporting the issue. That's correct the project does not have a tvOS scheme and therefore the framework cannot be used on tvOS via Carthage. I will release a fix for this 👍

[2017-03-03 23:16] jazzgil opened #54 "Center().to??"
The Readme starts with an example having a Center(0.0).to(red). However, the code doesn't seem to support it. i.e. no .to func in CompoundAttributes. Is this just an old typo in the readme?

Ended up doing [CenterX().to(red), CenterY().to(red)]...

[2017-03-04 12:29] nakiostudio commented on #54
Hi @jazzgil 👋 thanks for reporting!

That's wrong indeed, position `CompoundAttributes` like `Center` and `Edges` do not implement the `.to` method. Your approach is the right one.

Will update the README as soon as possible :+1:

[2017-03-04 16:07] #54 closed

[2017-03-04 16:07] nakiostudio commented on #54
Updated!

[2017-03-04 18:42] jazzgil commented on #54
Kinda hoped it's the other way around ;)
Anyway, thanks. Btw, you forgot a comma.

[2017-03-04 18:49] nakiostudio commented on #54
I know it's not ideal but there are some implications implementing `.to`
for `CompoundAttributes`. I will think on a solution.

Yeah, I missed the comma. Last time I commit from the queue to board a
plane 😅.

On Sat, 4 Mar 2017 at 19:42, jazzgil <notifications@github.com> wrote:

[2017-03-04 18:50] jazzgil commented on #54
:D

[2017-03-05 11:42] nakiostudio commented on #54
Fixed missing comma >_<'

I will implement the `.to()` method for `CompoundAttributes` later this week 👍

[2017-03-05 12:53] jazzgil commented on #54
You're a kickass, mr. EasyPeasy!

[2017-03-07 10:36] money150604 opened #56 "How to apply it with tableview autolayout"
How to apply it with tableview autolayout?.
Is there an example?

[2017-03-07 10:37] nakiostudio commented on #56
Hi @money150604 👋

What do you mean? how to implement autoresizable cells?

[2017-03-07 10:47] money150604 commented on #56
Use Code Layout How to Set Constraints UITableViewCell Dynamic Height

[2017-03-07 10:55] nakiostudio commented on #56
Got it!

Here you go. Let's say this is a cell with two labels and an imageView:

[code]

Then you would do something like this on your datasource:

[code]

[2017-03-07 12:00] #56 closed

[2017-03-08 04:48] money150604 commented on #56
tableView.estimatedRowHeight = 100
tableView.rowHeight = UITableViewAutomaticDimension
在設置完這些屬性，
不實現DataSource方法：
func tableView(_ tableView: UITableView, estimatedHeightForRowAt indexPath: IndexPath) -> CGFloat {
    return 200
}

在Cell裡面的約束怎樣設置才可以根據內容自動高度

[2017-03-08 08:40] nakiostudio commented on #56
Hi @money150604. The sample `UITableViewCell` I posted should work with your setup too.

[2017-03-08 10:41] money150604 commented on #56
@nakiostudio
Very strange
After starting the program, the height of the cell is not calculated correctly
![image](https://cloud.githubusercontent.com/assets/12742817/23700710/a474337a-042e-11e7-8d80-85926c2849ed.png)
Slide the cell after the show is normal. What is missing
![image](https://cloud.githubusercontent.com/assets/12742817/23700744/d4ac988e-042e-11e7-9cd5-2ed8034cec6d.png)

[2017-03-08 10:43] nakiostudio commented on #56
I think the problem is when you're setting the constraints or maybe a missing `self.contentView.layoutIfNeeded()` within the cell.

[2017-03-08 10:50] money150604 commented on #56
You are right
I set up an error
Thanks

[2017-03-23 14:49] DanielLe232 opened #57 "Issue autolayout in UITableViewCell"
Hi all, I have an issue in UITableViewCell.
`viewTop <- [
            Left(),
            Right(),
            Top(),
            Height(kHeightTop)
        ]

        viewBottom <- [
            Left(),
            Right(),
            Top().to(viewTop),
            Height(kHeightBottom),
            Bottom()
        ]`

Beacause, when i set autolayout for viewBottom include: Top and Bottom and i

[2017-03-27 12:48] r-a-o opened #58 "Cannot invoke initializer for type 'Height' with an argument list of type '(Int)'"
What is the proper way to pass an int/float/double variable to Height()/Width()/etc Attributes?

I get the following error:

`Cannot invoke initializer for type 'Height' with an argument list of type '(Int)'`

[2017-03-27 13:43] nakiostudio commented on #58
Hi @r-a-o 👋

You need to cast those values to `CGFloat`. Like this:

[code]

Hope it helps!

[2017-03-27 13:45] r-a-o commented on #58
CGFloat works.

I tried Float, Double and gave up.

Thanks.

[2017-03-27 13:45] #58 closed

[2017-04-11 08:52] r-a-o opened #59 "Horizontal scroll view"
I am trying to get my uiscrollview to work as a horizontal scroll by positioning items one after the other and setting the Left of current item to Right of previous item and so on like below:

[code]
The items are getting positioned as intended, but the horizontalScrollView isn't scrollable.
Is it required to set the contentSize explicitly? Am I missing something?

Thanks in advance!

[2017-04-11 09:36] khose commented on #59
Your issue is not related to EasyPeasy.

The last added view should have a Right constraint to the scroll view, in order to let the Scroll know its content size.

A good practice is to fill the scroll with only one view, which will itself contain the other views.
See this link for more references: [Autolayout ScrollView](https://www.natashatherobot.com/ios-autolayout-scrollview/)

[2017-04-19 18:20] r-a-o opened #60 "Ability to drop individual Constraints"
I sometimes wish there was a way to drop one of the constraints of an element.

Like for example, I have a dynamic screen where the last element's Bottom() constraint is always set to scrollView's Bottom. When I add more elements to it, I wish to remove the Bottom() constraint of current last element so I can set the newer element's Bottom() to scrollView.

Hope this makes sense.

[2017-06-29 19:23] sierramclawhorn commented on #15
I have this same issue, but no luck after running` pod repo update`

[2017-09-21 06:48] ServusJon opened #67 "Add safeAreaLayoutGuide to layout also on iPhone X"
More info: https://www.youtube.com/watch?v=FXDEaL3mcCo

[2017-09-27 09:09] nakiostudio commented on #67
Hey @ServusJon

Thanks for reporting, I will ship this as soon as possible 👍

[2017-10-02 10:02] Jur4s opened #68 "Code Coverage"
Xcode 9 doesn't allows Code Coverage into apps :
```Invalid Bundle - Disallowed LLVM instrumentation. Do not submit apps with LLVM profiling instrumentation or coverage collection enabled. Turn off LLVM profiling or code coverage, rebuild your app and resubmit the app.```

-->
[code]

[code]

Please deactivate Code Coverage,

Thx

[2017-10-04 09:45] muukii opened #69 "Deprecate `<-` Operator"
@nakiostudio

First, Thank you for the very helpful library.
I use always this library in creating applications.

I think we should remove `<-` operator from EasyPeasy.
Instead, we need to add readable function.

Because sometimes operator confuses some developers.
And the operator can be added each project.
I think EasyPeasy should provide layout functions as only functions.

What do you think?
I

[2017-10-04 10:06] nakiostudio commented on #69
Hey @muukii.

I'm glad you ask as I was planning to replace it with something similar to the following:

[code]

This would change the usage to:

[code]

What do you think?

[2017-10-04 12:07] nakiostudio commented on #68
Hi @Jur4s 👋

Thanks for reporting. Are you using Carthage to fetch EasyPeasy? I believe this should be sorted out on their end.

[2017-10-04 12:13] Jur4s commented on #68
Hi @nakiostudio  👋

Yes I use carthage.
I read some issue about this problem on their GitHub page, apparently, they can't change the "code coverage" settings of the archive scheme so their ask to library's developer to (for now) change it :/
A lot of open source library already change it to allows App submission

[2017-10-04 12:14] muukii commented on #69
@nakiostudio

Wow, It's good.

Looks good to me that's syntax.

Another way,

[code]

[code]

But, We need to care that last element does not have ',' in we are coding.

[2017-10-04 12:15] nakiostudio commented on #68
Okay, I will upgrade then 👍

[2017-10-04 12:16] nakiostudio commented on #69
Love your approach, I will draft a PR for that today. Hope we will get feedback from other users too!

[2017-10-04 12:17] Jur4s commented on #68
Thanks you 👍 👍 👍

[2017-10-04 12:19] muukii commented on #69
And, We need to consider the name of the function.

Is keyword `layout`?
Next, does `layout` need prefix?

`layout`
`setLayout`
`addLayout`

[2017-10-04 12:21] muukii commented on #69
I think `layout` does not have any problem.
I'm looking forward to your PR!

[2017-10-04 12:33] nakiostudio commented on #69
Now that I think about it all the methods extending UIView/NSView are prefixed by `easy_`. Should we go for `easy_layout` instead?

[2017-10-04 12:35] nakiostudio commented on #69
Another options is follow the approach used by Kingfisher and other libraries and have a struct in those classes acting as namespace for the library methods, this way we would have:

[code]

[2017-10-04 12:47] muukii commented on #69
@nakiostudio

That's very good idea.
I like namespace that like `.rx.` and `.kf`.
So, I'm guessing both of `ep` and `easy`.

[2017-10-05 09:29] nakiostudio commented on #68
Done :)

[2017-10-05 09:29] #68 closed

[2017-10-05 10:16] nakiostudio commented on #69
`1.6.0` is out with these changes. Hope people like it :)

Thanks @muukii 🙌

[2017-10-05 10:16] #69 closed

[2017-10-09 09:48] jordibruin opened #72 "<- replaced by easy.layout"
I noticed that the Swift 4 syntax uses the new easy.layout syntax instead of <-.

Is there any particular reason for this? I've grown quite fond of <- and I feel like easy.layout will add a lot of redundant code in my auto layout functions.

Thanks.

[2017-10-09 09:50] jordibruin commented on #72
Just saw the other issue that talks about this https://github.com/nakiostudio/EasyPeasy/issues/69.

While I kinda understand the points made there, it still feels like one of the main goals of this great library to me (cleaner auto layout with less code) has now taken a beating.

[2017-10-09 11:10] nakiostudio commented on #72
Hi @jordibruin 👋

That's correct. From:
[code]

Now it's:
[code]

But quoting myself from #71:

However, you can stick to EasyPeasy `1.5.1` as deprecating those methods was the only change introduced on `1.6.0`. Another option is to drag [this file](https://gist.github.com/nakiostudio/543662179917eefe2db70cd6e1b81e5d) to your project to keep using the custom operator with future versions without d

[2017-10-09 20:51] jordibruin commented on #72
Hi @nakiostudio , thanks for the reply!

You're making  lot of valid points so I'll try to get used to it instead of trying to stick to the past.

Small sidetone, when would you use the [ ] when using easy.layout? Are the two examples the exact same otherwise?

[2017-10-11 02:17] muukii opened #73 "Archive failed with Carthage 0.26"
I've tried to build (archive) with Carthage 0.26. (0.26 is new version)
But, I faced to the following error.
I'm investigating what is a cause.

[code]

[2017-10-11 14:34] dkalachov commented on #73
I'm facing this issue too.

[2017-10-11 16:44] muukii commented on #73
I think workspace cause this error.

[2017-10-11 17:01] muukii commented on #73
@dkalachov @nakiostudio

I have experience about this problem.
In that time, I've fixed this with removing xcworkspace.
So, I've cleanup EasyPeasy like it.
What do you think?

[2017-10-12 04:30] muukii commented on #73
It seems like Carthage 0.26 has some problems.

https://github.com/Carthage/Carthage/issues/2208
https://github.com/Carthage/Carthage/issues/2207

[2017-10-18 12:09] nakiostudio commented on #73
Apparently they have already fixed this :) Thanks for reporting!

[2017-10-18 12:09] #73 closed

[2017-10-21 16:12] nakiostudio commented on #67
Hey @ServusJon 👋

As safeAreaLayoutGuide is a `UILayoutGuide` the library already supports this therefore no changes are required :)

[2017-10-21 16:12] #67 closed

[2017-10-21 16:14] nakiostudio commented on #72
Yes @jordibruin, both are the same but the case with square brackets is mean to be used if you want a `.when` closure affecting all attributes in an array. i.e.

``swift
view.easy.layout([
    Leading(20),
    Top(20),
     Trailing(20)
].when { Device() == .iPad })
[code]

[2017-10-21 16:14] #72 closed

[2017-10-23 10:29] rauanmayemir opened #75 "Carthage macOS support"
[code]

Cartfile contains `github "nakiostudio/EasyPeasy"`

[code]

[2017-10-30 04:36] ServusJon commented on #67
Can you please give me an example how I can use the safearealayoutguide on a view?
Didn’t get it to work :-(
Thank you!

[2017-10-30 04:41] ServusJon commented on #67
Also is there a way to retrieve the y position of a layer that was set in autolayout respecting the its position in its superview?
I am working on a parallax effect where I want to move views with a factor to their position.

[2017-10-30 09:13] nakiostudio commented on #67
Hey @ServusJon 👋

Didn’t get it to work :-(

Check [this](https://github.com/nakiostudio/EasyPeasy#uilayoutguides).

I am working on a parallax effect where I want to move views with a factor to their position.

`view.frame.origin.y` but you need to take into account that the value changes depending on whether the view and superview have been laid out or not.

[2017-10-30 23:34] ServusJon commented on #67
Thanks. With this example at hand I still don’t know how I can use that on my views :-(
Can you please give me a little more details?

[2017-10-31 05:46] rauanmayemir commented on #75
Any update here?

[2017-10-31 09:18] nakiostudio commented on #75
Hi @rauanmayemir 👋

I'm very sorry for the late response. Let me debug this later today.

[2017-11-14 13:44] muukii opened #76 "Add Method-chain API"
I think it will be better if EasyPeasy has method-chain API.

[code]

But, I can't think all of the cases.
Can we add that API?

[2017-11-20 11:27] rauanmayemir commented on #75
Hey @nakiostudio,
Any luck with figuring out what's the issue here?

I'd really love to use this lib. 😁

[2018-01-22 16:22] r-a-o opened #77 "Using EasyPeasy to set position non-UIView elements like AVPlayerLayer"
I am trying to use easypeasy to layout an instance of AVPlayerLayer.
[code]
I am having to set the frame explicitly as I am unable to use easypeasy on playerLayer object.
Now when the phone enters landscape mode, the player view doesn't automatically stretch to take the full screen.

How do I position my player using easypeasy in this case?

[2018-05-02 04:45] Cocowyr opened #79 "iOS 9 crash"
Please give me a quick reply. time emergency
![image](https://user-images.githubusercontent.com/16237922/39505701-b73b272a-4e06-11e8-9872-4b52437608b2.png)

[2018-05-02 07:41] nakiostudio commented on #79
Hi @Cocowyr,

Could you share the code where you are applying those constraints with EasyPeasy?

[2018-05-02 19:09] edon2005 opened #80 "Wrong Height."
HI Guys,

Have a problem, with this code :
[code]
Elements look such:
![image](https://user-images.githubusercontent.com/8392596/39543824-892127cc-4e4c-11e8-9c71-4ee3e3713422.png)

But if I change 2nd line to this:
[code]
It began to look a little strange:
![image](https://user-images.githubusercontent.com/8392596/39543979-f6e3a744-4e4c-11e8-8120-11ee7ff9983e.png)

What I do wrong?

[2018-05-02 20:32] edon2005 commented on #80
My error. Sorry.

[2018-05-02 20:32] #80 closed

[2018-06-28 06:00] ServusJon opened #81 "Apply safearea to view"
How can I apply a safearea to a view?

[2018-07-09 15:16] fbarraganef commented on #81
I have the same question....

[2018-07-09 15:45] nakiostudio commented on #81
Hey! sorry for the late response. Hope the following example helps.

[code]

[2018-07-09 18:34] ServusJon commented on #81
Didn’t work for me :-(

[2018-07-09 18:35] ServusJon commented on #81
<img width="716" alt="bildschirmfoto 2018-07-09 um 20 33 56" src="https://user-images.githubusercontent.com/783416/42469286-8d4a1fb6-83b7-11e8-9728-90f333271025.png">

[2018-07-30 13:59] edon2005 commented on #47
HI,

How is it possible to use your wrap with new version ? :)

[2018-08-06 13:57] oneeypi commented on #81
Try:
` Top(0.0).to(view.safeAreaLayoutGuide, .top)`

[2018-08-12 10:04] SahandAkbarzadeh opened #83 "usage with manual layouting"
hi, thank you for your great lib

i want to know if there is any way to use manual layouting ( setting frame ) instead of auto layout

[2018-08-22 17:12] icanswiftabit commented on #81
Shouldn't this be a part of 'BottomMargin()'?

[2018-09-12 12:14] #79 closed

[2018-09-26 11:13] ikemuc commented on #75
Me too. This seems to be a very old issue. I'm currently upgrading frameworks of my MacOS application to use Swift 4.1 in MacOS 10.14 and I'm getting this error for EasyPeasy 1.7.0 and 1.6.0.
I'm using Carthage 0.29.

Any hints?

[2018-10-11 08:50] daurenm opened #86 "Swift 4.2"
Hi, any ideas on converting EasyPeasy to Swift 4.2?

[2018-10-29 06:35] #81 closed

[2018-11-17 19:51] nakiostudio commented on #86
Hi @daurenm. Change incorporated [here](https://github.com/nakiostudio/EasyPeasy/pull/88).

[2018-11-17 19:51] #86 closed

[2019-02-12 15:21] haifengkao opened #89 "how to apply Multipliers to the view margins?"
I tried to use EasyPeasy to add percentage margins, but EasyPeasy treats it as a constant, not multiplier.

[code]

What is the correct syntax to apply multipliers to margins?

[2019-04-01 14:28] hell4opt opened #90 "swift 5"
please :)

[2019-04-03 11:47] muukii commented on #90
please!

[2019-04-09 12:42] muukii opened #91 "Can we get Edges().to(view)?"
Sometimes, I want to add constraints edges of a view to other edges of a view.
But now, Edges() only allows adding constraints to its superview.

[2019-04-09 17:48] #83 closed

[2019-04-11 12:34] nakiostudio commented on #90
Done, please report any issues you might find 🙂

[2019-04-11 12:34] #90 closed

[2019-06-23 14:13] jordibruin opened #94 "Swift Package Manager version"
It would be really nice to have a Swift Package Manager version of EasyPeasy. Trying to start some projects without Cocoapods and can't live without EasyPeasy anymore haha 🙂

[2019-07-29 12:57] seebeb commented on #37
any update about this? i would like to know how to create aspect ratio like 2:3 or any aspect ratio that's not 1:1

[2019-11-15 18:03] ikemuc commented on #75
Currently this problem blocks my migration to Xcode 11...

Is there anyone, who can build EasyPeasy with Carthage using Xcode 11? EasyPeasy supports macOS, the macOS scheme exists in the project, but somehow the scheme isn't found by carthage...

[2019-11-15 22:16] ikemuc commented on #75
I found a solution, which works for me. See:
https://github.com/ikemuc/EasyPeasy/tree/nakiostudio-EasyPeasy-issue75

Opened a pull request already.

[2020-01-23 13:44] hell4opt commented on #94
why without cocoa?)

[2020-01-25 19:52] daneov opened #103 "Prefixing version number with 'v' breaks Swift PM support"
Swift PM is able to resolve packages using git, and semver-version numbers using tags. It also contains logic to determine the next major, minor, patch version, and allows you to specify which one to use.

It even has a nice one called `upToNextMajor(from: starting_version)`.

However, given the last version was tagged as `v1.9.2`, this does not parse, and thus cannot be resolved by SPM.

Fix woul

[2020-04-05 09:34] eldarkk commented on #89
Height(*0.5).like(superview) <- Is it impossible yet ?

[2020-05-04 03:15] guidedways opened #104 "Pinned to the top, but 20 pixels below the safea area"
How do I declare a view to be pinned to the top of the screen but at least 44 pixels tall (excluding the safe area). So if the view happened to be behind the status bar, I'd like it to in fact become 64 pixels tall (20 + 44 height).

[2020-05-04 03:26] guidedways commented on #104
Okay figured it out:

[code]

[2020-05-04 03:29] guidedways commented on #104
Second attempt, I think this works:

[code]